div {
    height: 935px;
    width: 694px;
    margin-left: auto;
    margin-right: auto;
    border: 0.1px solid black;
    background-image: url(Screenshot\ from\ 2026-06-12\ 09-30-56.png);
}
body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(Screenshot\ from\ 2026-06-12\ 09-30-56.png);
  background-size: 50%;
  background-repeat: repeat-x;
  filter: blur(12px);
  z-index: -1;
}